[submodule "ms-gateway"]
	path = ms-gateway
	url = git@github.com:NahumFGz/tesismaestriauni-ms-gateway.git
[submodule "ms-auth"]
	path = ms-auth
	url = git@github.com:NahumFGz/tesismaestriauni-ms-auth.git
[submodule "ms-messages"]
	path = ms-messages
	url = git@github.com:NahumFGz/tesismaestriauni-ms-messages.git
[submodule "mcp-assistance"]
	path = mcp-assistance
	url = git@github.com:NahumFGz/tesismaestriauni-mcp-assistance.git
[submodule "mcp-voting"]
	path = mcp-voting
	url = git@github.com:NahumFGz/tesismaestriauni-mcp-voting.git
[submodule "mcp-contracting"]
	path = mcp-contracting
	url = git@github.com:NahumFGz/tesismaestriauni-mcp-contracting.git
