[submodule "frontend"]
	path = frontend
	url = git@github.com:NahumFGz/tesismaestriauni-frontend.git

[submodule "mcp-attendance"]
	path = mcp-attendance
	url = git@github.com:NahumFGz/tesismaestriauni-mcp-attendance.git
[submodule "mcp-voting"]
	path = mcp-voting
	url = git@github.com:NahumFGz/tesismaestriauni-mcp-voting.git

[submodule "ms-chats"]
	path = ms-chats
	url = git@github.com:NahumFGz/tesismaestriauni-ms-chats.git
[submodule "ms-documents"]
	path = ms-documents
	url = git@github.com:NahumFGz/tesismaestriauni-ms-documents.git
[submodule "ms-gateway"]
	path = ms-gateway
	url = git@github.com:NahumFGz/tesismaestriauni-ms-gateway.git

[submodule "publicdata-scraper"]
	path = publicdata-scraper
	url = git@github.com:NahumFGz/tesismaestriauni-publicdata-scraper.git
[submodule "publicdata-classifier"]
	path = publicdata-classifier
	url = git@github.com:NahumFGz/tesismaestriauni-publicdata-classifier.git
[submodule "publicdata-yolo-ocr"]
	path = publicdata-yolo-ocr
	url = git@github.com:NahumFGz/tesismaestriauni-publicdata-yolo-ocr.git

[submodule "train-voting"]
	path = train-voting
	url = git@github.com:NahumFGz/tesismaestriauni-train-voting.git
[submodule "train-attendance"]
	path = train-attendance
	url = git@github.com:NahumFGz/tesismaestriauni-train-attendance.git
[submodule "train-budget"]
	path = train-budget
	url = git@github.com:NahumFGz/tesismaestriauni-train-budget.git
