# En gitignore este comando ignora tambien la raiz
# .env
# node_modules/
# postgres

**/.DS_Store

**/.env
**/node_modules/

# Ignorar dbs
others/databases/budget-mcp-db/postgres/
others/databases/message-app-db/postgres/
others/databases/documents-app-db/postgres/
others/observability/
others/databases/qdrant/storage/
others/*.zip