# En gitignore este comando ignora tambien la raiz
# .env
# node_modules/
# postgres

**/.DS_Store

**/.env
**/node_modules/

# Ignorar dbs
others/budget-mcp-db/postgres/
others/message-app-db/postgres/
others/qdrant/storage/