# En gitignore este comando ignora tambien la raiz
# .env
# node_modules/
# postgres

**/.DS_Store

**/.env
**/node_modules/

# Ignorar dbs
others/data/budget-mcp-db/postgres/
others/data/message-app-db/postgres/
others/data/documents-app-db/postgres/
others/data/observability/
others/data/qdrant/storage/
others/data/nginx-files/asistencia/*.jpg
others/data/nginx-files/asistencia/*.png
others/data/nginx-files/votacion/*.jpg
others/data/nginx-files/votacion/*.png
others/**/*.zip

others/data/x/
others/start/data/__MACOSX/